{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="parent">
    <div class="auth-container">
        <h2>Login</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
            <div class="gif-container">
                <img src="{% static 'images/rocket.gif' %}" alt="Loading GIF" class="login-gif">
            </div>
        </form>
    </div>
</div>
{% endblock %}
