<!-- templates/aws_credentials_form.html -->

{% extends 'base.html' %}
{% block content %}
<div class="bg-oserv-900 p-4 h-100000">
    <div class="max-w-xl mx-auto p-6 bg-white shadow-md rounded-lg">
        <h2 class="text-2xl font-bold text-center text-gray-800 mb-4">Insira suas Credenciais da AWS</h2>
        
        <!-- Instructions -->
        <div class="bg-blue-50 border-l-4 border-orange-500 p-4 mb-6">
            <h4 class="font-semibold text-orange-600">Como Configurar Credenciais da AWS</h4>
            <ul class="list-disc pl-6 text-gray-700 mt-2">
                <li>Acesse o Console da AWS.</li>
                <li>Navegue até <strong>IAM</strong> e crie um usuário com permissões adequadas.</li>
                <li>Gere e baixe as credenciais de acesso (Access Key ID e Secret Access Key).</li>
                <li>Cole as informações abaixo no formulário para configurar a integração.</li>
            </ul>
        </div>
    
        <!-- Error messages -->
        {% if form.errors %}
            <ul class="bg-red-50 border-l-4 border-red-400 p-4 mb-4 rounded text-red-700">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    
        <!-- Form -->
        <form method="post" class="space-y-6">
            {% csrf_token %}
            {% for field in form %}
                <div class="text-black">
                    <!-- Campo com placeholder e classes -->
                    <input 
                        type="{{ field.field.widget.input_type }}" 
                        name="{{ field.name }}" 
                        id="{{ field.id_for_label }}" 
                        value="{{ field.value|default_if_none:'' }}" 
                        class="block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-orange-500 focus:border-orange-500 placeholder-gray-500"
                        placeholder="{{ field.label }}"
                    >
                    <!-- Mensagens de erro, se houver -->
                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1">{{ field.errors|join:", " }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <button 
                type="submit" 
                class="w-full bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 px-4 rounded-md transition duration-300">
                Salvar
            </button>
        </form>
        
    </div>
</div>

{% endblock %}
