{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cloud Boosting{% endblock %}</title>

    <!-- Incluindo o arquivo CSS principal -->
    <link rel="stylesheet" href="{% static 'api_rest/css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Doto:wght@800&display=swap" rel="stylesheet">
    
    
    {% block extra_css %}{% endblock %}
</head>
<body class="bg-white-900 text-white min-h-screen">
    <nav class="p-5 bg-white shadow md:flex md:items-center md:justify-between">

        <!-- Logo e Nome -->
        <div class="flex items-center space-x-3">
            <img class="h-10 cursor-pointer" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXVnkqHx8aYUHka-1ETLtgnY_b-O8pfh0zbQ&s" alt="Logo Oserv Tecnologia">
            <span class="text-2xl font-semibold cursor-pointer font-sans text-gray-800">Oserv Tecnologia</span>
        </div>
        
        <!-- Links -->
        <ul class="flex space-x-6 mt-4 md:mt-0">
            <li>
                <a class="text-lg text-gray-800 hover:text-orange-500 transition duration-300" href="{% url 'index' %}">Home</a>
            </li>
            <li>
                <a class="text-lg text-gray-800 hover:text-orange-500 transition duration-300" href="/felicidade">Contact</a>
            </li>
            <li>
                <a class="text-lg text-gray-800 hover:text-orange-500 transition duration-300" href="/felicidade">Service</a>
            </li>
            <li>
                <a class="text-lg text-gray-800 hover:text-orange-500 transition duration-300" href="/felicidade">About</a>
            </li>
        </ul>
    </nav>
    <div class="flex justify-end items-center p-4">
        <label class="relative inline-flex items-center cursor-pointer">
          <input type="checkbox" id="theme-toggle" class="sr-only">
          <div class="w-12 h-6 bg-gray-300 rounded-full dark:bg-gray-600 peer-checked:bg-amber-500 transition-all">
            <div class="w-6 h-6 bg-white rounded-full shadow transform peer-checked:translate-x-6 transition-transform dark:bg-gray-800"></div>
          </div>
          <span class="ml-3 text-sm text-gray-900 dark:text-gray-100">Dark Mode</span>
        </label>
      </div>
    <div class="main-container">
        {% block content %}{% endblock %}
    </div>
    {% block extra_js %}{% endblock %}
</body>
</html>
